h1,
h2,
h4,
h5 {
    color: white;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.platos {
    background-color: rgba(1, 1, 1, 0.5);
    width: 60%;
    height: 60vh;
    text-align: center;
}

.orden {
    background-color: rgba(1, 1, 1, 0.5);
    height: 60vh;
    width: 30%;
    text-align: center;
}

hr {
    width: 80%;
}

body {
    background: url("https://img.freepik.com/foto-gratis/fondo-interior-tienda-restaurante-borrosa_1203-4031.jpg?size=626&ext=jpg") center center fixed no-repeat;
    background-size: cover;
}

.carta_de_ordenes {
    color: white;
}

.carta_de_comida {
    background-color: aliceblue;
    width: 350px;
    height: 70px;
    border-radius: 15px;
    margin: 10px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#agregar_a_orden {
    background-color: #2ed234;
    border: none;
    padding: 8px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}

#ordenes_agregadas {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-height: 30vh;
    overflow-y: scroll;
}

.total_de_orden {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#propina_sugerida,
#precio_total {
    background-color: #bf0808;
    padding: 5px;
}